# Ignore Maven and build artifacts
**/HELP.md
**/target
**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target
!**/src/test/**/target

# Ignore IDE-specific files
**/.idea
**/*.iws
**/*.iml
**/*.ipr
.idea/shelf
.idea/workspace.xml
.idea/httpRequests
.idea/mavenHomeManager.xml
.idea/dataSources
.idea/dataSources.local.xml

# Ignore NetBeans files
nbproject/private
nbbuild
dist
nbdist
.nb-gradle
**/build
!**/src/main/**/build
!**/src/test/**/build

# Ignore VS Code files
**/.vscode
**/.env

# Ignore Fly.io configuration
fly.toml
